a.list-group-item {
  padding: 5px;
}
.common-header {
  margin: 10px 5px;
}
.common-header:before,
.common-header:after {
  display: table;
  content: " ";
}
.common-header:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.full-width {
  width: 100%;
}
.mt-5 {
  margin-top: 5px;
}
.nav-pills {
  padding: 5px 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: rgb(153, 69, 0);
}
.nav > li > a {
  padding: 5px 10px;
}
.list-group {
  overflow: hidden;
}
.CodeMirror {
  height: 100%;
  font-size: 12px;
}
#query span {
  white-space: pre;
}

#requestListContainer:focus {
  outline: none;
}
#transactionId {
  font-size: 11px;
}
ul {
  padding-left: 0;
}
